.DS_Store
node_modules
/dist
/evrak/kaynak
/ss/src/settings-4e.php
/ss-ilk.tar.gz
/ss-*.*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Php session tmp files
sess_*